.terraform/
.DS_Store
*.tfstate
*.tfstate.*
*.tfplan
backend.hcl
terraform.tfvars
crash.log
*.local.json
*.xml
*.pem
*.p12
*.pfx
*.key
*.cer
stages/02-governance/federation.auto.tfvars.json
scripts/aws-terraform-adoption-plan*.json
stages/01-organization/*.tfplan
stages/02-governance/federation.auto.tfvars.json.bak
