management_account_id     = "000000000000"
management_profile        = "management"
management_region         = "us-east-1"
organization_name         = "production-organization"
log_archive_account_email = "replace-with-a-unique-log-archive-address@your-domain.example"
production_account_email  = "replace-with-a-unique-production-address@your-domain.example"
